.importExportWrap {
  margin: 30px 0 0 20px;

  .tooltipExport {
    margin-left: 30px;
  }
}

.btnImport,
.btnExport {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

